.text-input {
    border: 1xp solid #cacccd;
    height: 50px;  //set universal class (*) into base.scss file for text-inputs
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

.select {
    @extend .text-input;   //inherite all style of .text-input
   // padding: 1.5rem;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}